<h2>Welcome, {{firstname}} {{lastname}}!</h2>
<div class="row">
  <div class="col-12">
    <form class="form-inline search-form">
      <div class="form-group ui-widget">
        <label for="tweets"></label>
        <input
          id="entersymbol"
          placeholder="Enter a stock symbol to see the latest tweets and financial info!"
          type="tweets"
          class="form-control mr-2"
        />
      </div>
      <button id="submit" type="submit" class="btn btn-success">
        Search
      </button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-2">
    <h4>My Watchlist</h4>
    <div class="list-group">
      {{#each userstocks as |userstock|}}
        {{!-- <li class="list-group-item"><button class="btn btn-secondary">{{userstock.stock_id}}</button></li> --}}
        <a href="" class="list-group-item list-group-item-action">{{userstock.stock_id}}</a>
        <a href="" class="list-group-item list-group-item-action">{{userstock.stock_id}}</a>
      {{/each}}
    </div>
  </div>
  <div class="col-10">
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
      <div class="tradingview-widget-container__widget"></div>
      <div class="tradingview-widget-copyright"><a
          href="https://www.tradingview.com/markets/indices/"
          rel="noopener"
          target="_blank"
        ><span class="blue-text">Indices</span></a>
        by TradingView</div>
      <script
        type="text/javascript"
        src="https://s3.tradingview.com/external-embedding/embed-widget-market-quotes.js"
        async
      >
        { "width": "100%", "height": "600", "symbolsGroups": [ { "name": "Indices", "originalName":
        "Indices", "symbols": [ { "name": "FOREXCOM:SPXUSD", "displayName": "S&P 500" }, { "name":
        "FOREXCOM:NSXUSD", "displayName": "Nasdaq 100" }, { "name": "FOREXCOM:DJI", "displayName":
        "Dow 30" }, { "name": "INDEX:NKY", "displayName": "Nikkei 225" }, { "name": "INDEX:DEU30",
        "displayName": "DAX Index" }, { "name": "FOREXCOM:UKXGBP", "displayName": "UK 100" } ] } ],
        "showSymbolLogo": true, "colorTheme": "dark", "isTransparent": false, "locale": "en" }
      </script>
    </div>
  </div>
</div>
<script src="/js/profile.js"></script>